

/*** Landing page styles ***/

label {
  font-weight: normal;
}

.partner-logos div {
  padding: 2em;
}
.partner-logos img {
  border:0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.partner-logos img:hover {
  -webkit-filter: none;
  filter: none;
}

.partner-logos .mountains-to-sound {
  width: 8.5em;
}
.partner-logos .sound-transit {
  width: 20em;
}
.partner-logos blockquote {
  border: 0;
}

@media(max-width:768px) {
    .partner-logos .mountains-to-sound {
      width: 8em;
    }
    .partner-logos .sound-transit {
      width: 15em;
    }
}

.btn-signup {
  background: black;
  color: white;
  font-size: 20px;
}
.btn-buy-hike {
  margin-left: 12px;
  border-color: yellow;
  color: yellow;
  background: black;
  font-size: 20px;
}   

.btn-buy-hike:hover {
  background: yellow;
  border-color: yellow;
}

.android-app-badge {
  margin-top: 24px;
}
.android-app-badge-img {
  height: 60px;
}

.down-arrow {
  margin-top: 15px;
}

/*** Buy trip page ****/

#buy-trip {
  font-family: 'Open Sans', sans-serif;
}

#buy-trip .main-header {
  font-size: 2em;
  font-family: 'Libre Baskerville', serif;
}

#buy-trip .money-back-gaurentee-text {
  color: orange;
  font-weight: bold;
  font-style: italic;
}

#buy-trip .header-icon {
  width: 7em;
}
#buy-trip .header-icon-img {
  text-align: center;
}
#buy-trip .header-icon-text {
  text-align: center;
  padding: 6px;
  font-family: 'Libre Baskerville', serif;
}
#buy-trip .delivery-icon {
  padding: 12px;
  font-family: 'Libre Baskerville', serif;
}


.trip-tiers .color1 {
  background-color: #666666; 
}
.trip-tiers .color2 {
  background-color: #9fc5e8; 
}
.trip-tiers .color3 {
  background-color: #6fa8dc; 
}
.trip-tiers .color4 {
  background-color: #3d85c6; 
}
.trip-tiers .color5 {
  background-color: #0b5394; 
}

.trip-tiers .tier-box {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
.trip-tiers .tier-header {
  min-height: 11em;
  padding: 0.8em;
  margin: 0.2em;
  color: #fff;
  text-align: center;
}
.trip-tiers .tier-header .title {
  font-size: 1.3em;
  font-family: 'Libre Baskerville', serif;
  line-height: 1;
  text-transform: uppercase;
  padding-right: 1.5em;
  padding-left: 1.5em;
}
.trip-tiers .tier-header .price {
  padding-top: 0.7em;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}
.trip-tiers .tier-header .description {
  padding-top: 0.7em;
  font-size: 1em;
}

.trip-tiers .tier-box-list-inner {
  height: 37px;
  margin-top: 10px;
  border-bottom: 1px solid #B9B8B8;
}
.trip-tiers .tier-box-btn {
  margin: 10px;
}
.trip-tiers .list-label {
  font-size: 1em;
  text-align: left;
  padding: 4px;
}
.trip-tiers .list-checkbox {
  font-size: 1.5em;
}


/*** Buy a hike page (OLD) ****/

#buy-a-hike .tab-content {
  background-color: white;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding: 20px;
}

#buy-a-hike .btn-default {
  background-color: #D3D3D3;
}
#buy-a-hike .btn-default:hover {
  border: 1px solid #000;
}

#dropin-container {
  background-color: white;
  padding: 10px;
}

.container-buy-btn {
  margin-top: 10px;
  text-align: center;
}

.buy-a-hike-tagline {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
}


@media (max-width: 36em) {
  .btn-buy-hike {
    font-size: 12px;
  }
  .btn-signup {
    font-size: 14px;
  } 
}


/*** Admin/data curation styles ***/

.admin-section {
  margin-top: 100px;
}

input, textarea, select {
  color: #000000;
}

.admin-section td { 
  padding: 7px;
  vertical-align: top;
}

::selection {
    background: #ffb7b7;
}


/**** Admin map *****/

#admin-map-container {
  width: 100%;
  height: 500px;
  position: relative;
}

#admin-map {
  width: 100%;
  height: 100%;
}

.autocomplete-controls {
  position: absolute;
  width: 100%;
  z-index:1;

  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

.leaflet-draw-toolbar {
    margin-top: 42px;
}

/* Helper Classes */

.pbn {padding-bottom:0px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
.pbn{padding-bottom:0px}
.pln {padding-left:0px;}
.prn {padding-right:0px;}
.pt20 {padding-top:20px }
.pt10 {padding-top:10px }

.br-b-n{border-bottom:0px;}
.br-n{border-radius:0px}

.ml10{margin-left:10px;}
.mr10{margin-right:10px;}

.text-right{text-align:right}

.trip-item {position:relative;padding:10px;background-color:#f5f5f5;border:1px solid #e3e3e3;margin-bottom:15px;}
.trip-item a { color:black; text-decoration:none; }
.trip-item .image{height:80px;width:80px;position:absolute;left:10px;}
.trip-item .details{padding-left:90px;}
.trip-item .details .title{font-size:16px;font-weight:700;text-align:left;line-height:18px;margin-bottom:3px;}
.trip-item .details .description {font-size:14px;height:60px;text-align:left;overflow:hidden}
.trip-item .details .description:after{content: "";text-align: right;position: absolute;bottom: 10px;right: 0;width: 25%;height: 20px;background: linear-gradient(to right, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 50%);}

.video-item {margin-bottom:15px;height:221px;background-color:#f5f5f5;}
.video-item iframe{width:100%; height:221px;}

.review-item{ margin-bottom:15px;height:221px;background-color:#f5f5f5;border:1px solid #e3e3e3;text-align:center;position:relative;}
.review-item a { color:black; text-decoration:none; display:block;height:221px;padding:20px}
.review-item img{width:50%;position:relative;margin-top:45px;margin-bottom:10px}

@media (max-width:400px){
    .trip-item .image{width:100%;height:auto; position:initial;margin-bottom:10px;}
    .trip-item .details{padding-left:0px;}
}